      <div class="container">
        <div  *ngIf="!!filters" class="filters">       
          <p>Showing {{ selectedMovies }} movies</p>
          <app-filters [genres]="filters || []" (filterChanged)="onFiltersChanged($event)" (ratingChanged)="onRatingChanged($event)"></app-filters>
        </div>
        <ng-container *ngIf="!!movies && !!filters" class="movies">
            <app-movie *ngFor="let movie of movies" class="movie" [movie]="movie" [genres]="filters"></app-movie>
        </ng-container>
      </div>